<style>
    {include file="../../../css/cttym.backend.settings.css" inline}
</style>

<h1>[`Cheaper than the Yandex market`]</h1>

<div id="s-cttym-product-list-table-container">
    <div class="zebra single-lined table" id="cttym-product-list">
        <div class="header tr">
            <div class="min-width td">[`ID`]</div>
            <div class="td">
                <span title="[`Product`]">
                    [`Product`]
                </span>
            </div>
            <div class="td">
                <span title="[`Yandex market url`]">
                    [`Yandex market url`]
                </span>
            </div>
            <div class="td">
                <span title="[`Html identifier`]">
                    [`Html identifier`]
                </span>
            </div>
            <div class="td">
                <span title="[`Price difference`]">
                    [`Price difference`]
                </span>
            </div>
            <div class="td"></div>
            <div class="td"></div>
            <div class="td"></div>
        </div>
        <form class="cttym-product tr" cttym-item-id="0" action="?plugin=cttym&action=saveproduct" method="post">
                <div class="td"></div>       
                <div class="short nowrap align-left td" title="[`Product`]">
                	<input type="text" value="" name="product_name" class="cttym-add-product-name-input" style="width: 366px!important" autocomplete="off" />
                	<input type="hidden" value="" name="product_id" class="cttym-add-product-id-input" />
            	</div>
                <div class="short nowrap align-left td" title="[`Yandex market url`]">
                	<textarea name="ym_url"></textarea>
            	</div>
                <div class="short nowrap align-left td" title="[`Html identifier`]">
                	<input type="text" value="" name="id_in_html" />
            	</div>
                <div class="short nowrap align-left td" title="[`Price difference`]">
                	<input type="text" value="{$p.price_diff}" name="price_diff" />
            	</div>
                <div class="td"></div>
                <div class="td"></div>
                <div class="td">      
                    <input type="submit" class="button green" value="{_w('Save')}" />
                </div>
        </form>
        {if $cttym_products}
	        {foreach $cttym_products as $p}
    	        <form class="cttym-product tr" cttym-item-id="{$p.id}" action="?plugin=cttym&action=updateproduct" method="post">        
    	            <div class="min-width td" title="[`ID`]">
                        {$p.id}
                        <input type="hidden" value="{$p.id}" name="id" />
                    </div>        
    	            <div class="short nowrap align-left td" title="[`Product`]">
    	            	<!-- IMAGE -->
    	            	<a href="{$p.product.frontend_url}" title="{$p.product.name}" target="_blank">{$p.product.name|truncate:30}</a>
    	            	<input type="text" value="{$p.product.name}" name="product_name" class="cttym-add-product-name-input" style="display: none; width: 366px!important"  autocomplete="off" />
                		<input type="hidden" value="{$p.product.id}" name="product_id" class="cttym-add-product-id-input" />
    	        	</div>
    	            <div class="short nowrap align-left td" title="[`Yandex market url`]">
    	            	<a href="{$p.ym_url}" target="_blank">{$p.ym_url|truncate:30}</a>
    	            	<textarea name="ym_url" style="display: none;">{$p.ym_url}</textarea>
    	        	</div>
    	            <div class="short nowrap align-left td" title="[`Html identifier`]">
                        <span>{$p.id_in_html}</span>
    	            	<input type="text" value="{$p.id_in_html}" name="id_in_html" style="display: none;" />
    	        	</div>
    	            <div class="short nowrap align-left td" title="[`Price difference`]">
                        <span>{$p.price_diff}</span>
    	            	<input type="text" value="{$p.price_diff}" name="price_diff" style="display: none;" />
    	        	</div>
    	            <div class="short nowrap align-right td">
    	                <a href="?plugin=cttym&action=changeprice&id={$p.id}" class="cttym-product-execute" cttym-product-id="{$p.id}">
    	                    <i class="icon16 yes"></i>[`execute`]
    	                </a>
    	            </div>
    	            <div class="short nowrap align-right td">
    	                <a href="#" class="cttym-product-update" cttym-product-id="{$p.id}">
    	                    <i class="icon16 edit"></i>[`update`]
    	                </a>
    	                <input type="submit" class="button green" value="{_w('Save')}" style="display: none;" />
    	            </div>
    	            <div class="short nowrap align-right td">
    	                <a href="#" class="cttym-product-delete" cttym-product-id="{$r.id}">
    	                    <i class="icon16 delete"></i>[`delete`]
    	                </a>
    	            </div>
    	        </form>
	        {/foreach}
        {else}
        	<div class="cttym-non-product tr">        
	            <div class="min-width td" colspan="8">
				    <div class="block double-padded align-center gray">
				        <strong>[`No products.`]</strong>
				    </div>
			    </div>
		    </div>
		{/if}
    </div>
</div>

{wa_pagination total=$pages_count attrs=['class' => "menu-h block top-padded"]}

<script type="text/javascript">
    {include file="../../../js/cttym.backend.settings.js"}
</script>

<script type="text/javascript">
    (function ($) {
        cttymBackendSettings.initModule();
    })(jQuery);
</script>